/* RESET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h3 {
  border-left: #b70410 10px solid;
  padding: 0 0 0 20px;
  margin: 20px 0 0 0;
}

/* CUSTOM */
body {
  font-family: "Libre Baskerville", serif;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

#bookingForm {
  border: 2px solid #b70410;
  padding: 20px;
  border-radius: 10px;
}

#bookingForm form {
  width: 100%;
  display: block;
}

#bookingForm label {
  display: block;
  width: 100%;
}

#bookingForm input,
#bookingForm textarea {
  display: block;
  padding: 5px 7px;
  font-size: 22px;
  /* height: 40px; */
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;

  padding: 1rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  transition: box-shadow 0.22s ease-out;
}

#bookingForm input[type="submit"] {
  width: 100%;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  background: #b70410;
}

.instaEmbed {
  margin-top: 30px;
}

.contact-link {
  padding-bottom: 10px;
  padding: 0;
  margin: 10px 0 0 10px;
}

.contact-link a {
  padding-bottom: 10px;
  color: #000;
  text-decoration: none;
}

.topBit {
  text-align: center;
  background-color: #b70410;
  padding: 40px 0;
  border-bottom: solid 3px rgba(0, 0, 0, 0.3);
}

.introText {
  font-size: 1.5em;
  max-width: 500px;
  line-height: 1.7em;
  padding: 40px;
  margin: auto;
  text-align: left;
}

.mainContent {
  border-top: solid 3px rgba(0, 0, 0, 0.3);
  background-color: #b70410;
  padding: 10px 10px;
}

/* GLIDE START */
.glide__slides {
  display: flex;
  align-items: center;
}

.glide__slide {
  background-size: contain; /* Or use 'cover' if cropping is acceptable */
  background-repeat: no-repeat;
  background-position: center;
  height: 400px; /* Set the desired height for all slides */
}

.glide__slide img {
  display: none; /* Hide the `<img>` tag since it's redundant */
}

/* Navigation arrows */
.glide__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.glide__arrow--left {
  left: 10px;
}

.glide__arrow--right {
  right: 10px;
}

/* Navigation bullets */
.glide__bullets {
  text-align: center;
  margin-top: 10px;
}

.glide__bullet {
  display: inline-block;
  border: none;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #ccc;
  /* border-radius: 50%; */
  cursor: pointer;
}

.glide__bullet--active {
  background: #000;
}
/* GLIDE END */

.feedHolder {
  /* border: white 2px solid; */
  max-width: 460px;
  /* padding: 5px; */
  /* border-radius: 10px; */
  /* background-color: white; */
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  margin: 0 auto 42px auto;
}

.card {
  text-align: center;
  -webkit-animation-name: App-logo-spin;
  animation-name: App-logo-spin;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  max-width: 150px;
}

.card-shadow {
  fill: rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  38% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  78% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  38% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  78% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.7em;
  height: 1.7em;
  outline: black;
  vertical-align: bottom;
  padding-right: 5px;
  stroke-width: 1px;
}

.svg-icon circle {
  stroke-width: 1px;
}

.footer {
  padding: 40px;
  text-align: center;
}

@media (max-width: 600px) {
  .introText {
    font-size: 1.2em;
    line-height: 1.7em;
    padding: 20px;
    margin: auto;
    text-align: left;
  }

  .topBit {
    padding: 10px;
  }

  .card {
    max-width: 250px;
  }
}

/* Particles */
/* canvas {
  display: block;
}

#particles-js {
  position: fixed;
  top: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
} */
